In [1]:
#Dependencies

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# File to Load - these are saved csv's
file_to_load = "Walmart.csv"
file_to_load1 = "kaggle_income.csv"

In [3]:
#Walmart dataframe
walmart_pd = pd.read_csv(file_to_load, encoding="utf-8")
walmart_pd.head()

   Store Number                                         Store Name
0             4  Walmart Supercenter, 2901 Highway 412 E, Siloa...
1             8  Walmart Supercenter, 1621 North Business 9, Mo...
2             5  Walmart Supercenter, 1155 Hwy 65 North, Conway...
3             7  Walmart Supercenter, 9053 Highway 107, Sherwoo...
4             3  Walmart Supercenter, 30983 Highway 441 S, Comm...

In [4]:
#Income dataframe
income_pd = pd.read_csv(file_to_load1, encoding="utf-8")
income_pd.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [5]:
#Split the Store Name into address fields

walmart_pd['Store Name'] = walmart_pd['Store Name'].str.replace(' - Walmart.com','')
walmart_pd[['Store Type', 'Address', 'City', 'State Zip']] = walmart_pd['Store Name'].str.split(",", n = 3, expand = True)
walmart_pd[['B','State','Zip_Code']] = walmart_pd['State Zip'].str.split(" ",n=2, expand=True)
walmart_pd = walmart_pd.drop(columns=['Store Name','State Zip','B'])

walmart_pd.head()

,Store Number,Store Type,Address,City,State,Zip_Code
0,4,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR,72761
1,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110
2,5,Walmart Supercenter,1155 Hwy 65 North,Conway,AR,72032
3,7,Walmart Supercenter,9053 Highway 107,Sherwood,AR,72120
4,3,Walmart Supercenter,30983 Highway 441 S,Commerce,GA,30529

In [6]:
#Get rid of any trailing or leading zeros for merging later

walmart_pd[['Zip_Code']] = walmart_pd['Zip_Code'].str.strip()
walmart_pd.head()

,Store Number,Store Type,Address,City,State,Zip_Code
0,4,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR,72761
1,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110
2,5,Walmart Supercenter,1155 Hwy 65 North,Conway,AR,72032
3,7,Walmart Supercenter,9053 Highway 107,Sherwood,AR,72120
4,3,Walmart Supercenter,30983 Highway 441 S,Commerce,GA,30529

In [7]:
#keep the last 5 digits- makes sure that the zip code is 5 numbers
walmart_pd['Zip_Code'] = walmart_pd['Zip_Code'].str[-5:]

In [8]:
walmart_pd.head()

,Store Number,Store Type,Address,City,State,Zip_Code
0,4,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR,72761
1,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110
2,5,Walmart Supercenter,1155 Hwy 65 North,Conway,AR,72032
3,7,Walmart Supercenter,9053 Highway 107,Sherwood,AR,72120
4,3,Walmart Supercenter,30983 Highway 441 S,Commerce,GA,30529

In [9]:
#Character to numeric
walmart_pd['Zip_Code']=walmart_pd['Zip_Code'].astype(int)

In [10]:
walmart_pd.head()

,Store Number,Store Type,Address,City,State,Zip_Code
0,4,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR,72761
1,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110
2,5,Walmart Supercenter,1155 Hwy 65 North,Conway,AR,72032
3,7,Walmart Supercenter,9053 Highway 107,Sherwood,AR,72120
4,3,Walmart Supercenter,30983 Highway 441 S,Commerce,GA,30529

In [11]:
#Merge by zip code
walinc_table_pd = pd.merge(walmart_pd, income_pd, on="Zip_Code", how="inner")

#print first few observations of new dataframe
walinc_table_pd.head()

,Store Number,Store Type,Address,City_x,State,Zip_Code,id,State_Code,State_Name,State_ab,...,Primary,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,4,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR,72761,502856,5,Arkansas,AR,...,Track,479,14934055,69115,36.155511,-94.536747,50198,41567,42607,251.347866
1,6960,Walmart Neighborhood Market,935 S. Holly St,Siloam Springs,AR,72761,502856,5,Arkansas,AR,...,Track,479,14934055,69115,36.155511,-94.536747,50198,41567,42607,251.347866
2,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110,5011207,5,Arkansas,AR,...,place,501,2910771,41177,35.159377,-92.643059,55086,35612,56743,275.589605
3,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110,5021056,5,Arkansas,AR,...,Track,501,187893462,7688346,35.132528,-92.627182,52967,38602,49997,510.976534
4,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110,502126,5,Arkansas,AR,...,Track,501,187893462,7688346,35.132528,-92.627182,51029,37136,45721,794.002179

In [12]:

#Keep only the variables we need 
walmart_new_pd = walinc_table_pd[['Store Number', 'Store Type', 'Address', 'City_x', 'State', 'Zip_Code', 'Median']]
walmart_new_pd.head()

,Store Number,Store Type,Address,City_x,State,Zip_Code,Median
0,4,Walmart Supercenter,2901 Highway 412 E,Siloam Springs,AR,72761,41567
1,6960,Walmart Neighborhood Market,935 S. Holly St,Siloam Springs,AR,72761,41567
2,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110,35612
3,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110,38602
4,8,Walmart Supercenter,1621 North Business 9,Morrilton,AR,72110,37136

#Making a separate dataframe for mapping- we need the full address

In [13]:
#make separate dataframe for mapping

walmartextra_pd = pd.read_csv(file_to_load, encoding="utf-8")
walmartextra_pd.head()

   Store Number                                         Store Name
0             4  Walmart Supercenter, 2901 Highway 412 E, Siloa...
1             8  Walmart Supercenter, 1621 North Business 9, Mo...
2             5  Walmart Supercenter, 1155 Hwy 65 North, Conway...
3             7  Walmart Supercenter, 9053 Highway 107, Sherwoo...
4             3  Walmart Supercenter, 30983 Highway 441 S, Comm...

In [14]:
#Get rid of Walmart.com from Store Name and don't keep store type
walmartextra_pd['Store Name'] = walmartextra_pd['Store Name'].str.replace(' - Walmart.com','')
walmartextra_pd['Store Name'] = walmartextra_pd['Store Name'].str.replace('Walmart Supercenter, ','')
walmartextra_pd['Store Name'] = walmartextra_pd['Store Name'].str.replace('Walmart, ','')

In [15]:
walmartextra_pd.head()

   Store Number                                    Store Name
0             4  2901 Highway 412 E, Siloam Springs, AR 72761
1             8    1621 North Business 9, Morrilton, AR 72110
2             5           1155 Hwy 65 North, Conway, AR 72032
3             7          9053 Highway 107, Sherwood, AR 72120
4             3       30983 Highway 441 S, Commerce, GA 30529